<body>

<%- include('../partials/header.ejs') %>
  
  <div>
    <h1>
      <% const encodedSeed = encodeURIComponent(user.name); %>
        <img 
          src="https://api.dicebear.com/9.x/fun-emoji/svg?seed=<%= encodedSeed %>&backgroundColor=ffdfbf&eyes=closed,closed2,cute,glasses,love,pissed,plain,sad,shades,sleepClose,stars&mouth=cute,drip,lilSmile,pissed,plain,sad,shout,shy,sick,smileLol,smileTeeth,tongueOut,wideSmile" 
          class="profile-pic-large" 
          alt="Profile" 
        />
        <%= user.name %>'s COOKBOOK
    </h1>

<% if (recipes && recipes.length > 0) { %>
    <ul>
      <% recipes.forEach(recipe => { %>
        <li>
          <a href="/recipes/<%= recipe._id %>"><%= recipe.name %></a>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
     <p>No Recipes at this time</p>
  <% } %>

    <a href="/users">Back to Community Page</a>

  </div>
  
  </body>
</html>